/* UIUXWorks.css */
.uiuxworks-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: -42px;
}

.uiuxworks-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.uiuxworks-image-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

.uiuxworks-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.image-count {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
}

.uiuxworks-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uiuxworks-info {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 10px;
    width: 100%;
    text-align: left;
}

.uiuxworks-text {
    flex: 1;
    padding-right: 10px;
    padding-right: 10px;
}

.uiuxworks-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 40px;
}

.uiuxworks-actions a {
    background: #ffff;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 15px;
    transition: background 0.3s ease-in-out;
}

.uiuxworks-view-more {
    background: none;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    text-decoration: underline;
}

.inline-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.inline-preview-image {
    max-width: 90%;
    max-height: 80%;
}

.inline-preview-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.inline-preview-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.inline-preview-nav.left {
    left: 20px;
}

.inline-preview-nav.right {
    right: 20px;
}

@media (max-width: 768px) {
    .uiuxworks-card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .uiuxworks-info {
        padding: 16px;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        order: 1;
        width: 100%;
        box-sizing: border-box;
    }

    .uiuxworks-image-container {
        order: 2;
        width: 100%;
        padding-bottom: 56.25%; /* Adjusted aspect ratio for mobile view */
    }

    .uiuxworks-overlay {
        order: 1;
        width: 100%;
    }
}